<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://claytree-risk-fn-dev-si-gugbemhhf8c6eeh8.southindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8d34bbc6-cd41-4db8-a03f-cdcca11286a4/resourceGroups/rg-claytree-risk-pilot/providers/Microsoft.Web/sites/claytree-risk-fn-dev-si</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://claytree-risk-fn-dev-si-gugbemhhf8c6eeh8.scm.southindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>